#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.App {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.decks {
  display: grid;
  width: 600px;
  margin: 0 auto;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
}

.decks li {
  position: relative;
  display: flex;
  justify-content: center;
  color: black;
  background-color: #fff;
  align-items: center;
  height: 130px;
  border: 1px solid white;
  border-radius: 10px;
}

.decks li button {
  position: absolute;
  right: 0px;
  top: 0px;
}
